{% extends 'generic/object.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{{ object.subject }}{% endblock %}

{% block extra_controls %}
  <!-- New button for special action -->
  {% if object.file %}
  <div class="dropdown">
          <button type="button" class="btn btn-blue dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mdi"></i> {% trans "Download" %}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="{% url 'plugins:netbox_certificate_management:download_file' object.pk %}">
                <i class="mdi"></i> PEM-Format
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'plugins:netbox_certificate_management:download_file' object.pk%}?convert_to_der=True">
                <i class="mdi"></i> DER-Format
              </a>
            </li>
          </ul>
      </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Information</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "subject" %}</th>
              <td>{{ object.subject }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "issuer" %}</th>
              {% if object.issuer %}
              <td>{{ object.issuer|linkify }}</td>
              {% else %}
              <td>{{ object.issuer_name }}</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">{% trans "serial_number" %}</th>
              <td>{{ object.serial_number }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "not_valid_before" %}</th>
              <td> {{object.not_valid_before}} </td>
            </tr>
            <tr>
              <th scope="row">{% trans "not_valid_after" %}</th>
              <td> {{object.not_valid_after}} </td>
            </tr>
            <tr>
              <th scope="row">{% trans "signature_algorithm" %}</th>
              <td> {{object.signature_algorithm}} </td>
            </tr>
          </table>
        </div>
      </div>
        <div class="card">
        <h5 class="card-header">Subject Alternative Names</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            {% for entry in object.sans %}
            <tr>
              {% for key, value in entry.items %}
              <th scope="row">{{key}}</th>
              <td> {{value}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "public_key" %}: {{ object.subject_public_key_algorithm }}</h5>
        <div class="card-body">
          {{ object.subject_public_key }}
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
<div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Devices" %}</h5>
        <div class="card-body table-responsive">
          {% render_table related_devices %}
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Virtual Machines" %}</h5>
        <div class="card-body table-responsive">
          {% render_table related_vms %}
        </div>
      </div>
    </div>
  </div>
  {% if children_certificates.data %}
<div class="row">
  <div class="col col-md-12">
    <div class="card">
    <h5 class="card-header">{% trans "Children" %}</h5>
      <div class="card-body table-responsive">
        {% render_table children_certificates %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}