{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}
{% load i18n %}

{% block form %}
<div class="field-group my-5">

    {% render_field form.subject %}
    {% render_field form.issuer %}
    {% render_field form.serial_number %}
    {% render_field form.not_valid_after %}
    {% render_field form.not_valid_before %}
    {% render_field form.signature_algorithm %}
    {% render_field form.subject_public_key_algorithm %}
    {% render_field form.subject_public_key %}
    {% render_field form.extensions %}
    <!-- TODO: this is probably not the best way to ensure the form is accepted -->
    <div class="d-none">{% render_field form.issuer_name%}</div>
</div>


<div class="field-group my-5">
    <div class="row">
      <h5 class="col-9 offset-3">{% trans "Assignment" %}</h5>
    </div>
    {% with device_tab_active=form.initial.site %}
      <div class="row">
        <div class="col-9 offset-3">
          <ul class="nav nav-pills mb-1" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link{% if not device_tab_active %} active{% endif %}" href="#group" role="tab" data-bs-toggle="tab">{% trans "Devices" %}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link{% if device_tab_active %} active{% endif %}" href="#site" role="tab" data-bs-toggle="tab">{% trans "Virtual Machines" %}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content p-0 border-0">
        <div class="tab-pane{% if not device_tab_active %} active{% endif %}" id="group">
          {% render_field form.devices %}
        </div>
        <div class="tab-pane{% if device_tab_active %} active{% endif %}" id="site">
          {% render_field form.virtual_machines %}
        </div>
      </div>
    {% endwith %}
  </div>

  {% if form.custom_fields %}
  <div class="field-group my-5">
    <div class="row">
      <h5 class="col-9 offset-3">{% trans "Custom Fields" %}</h5>
    </div>
    {% render_custom_fields form %}
  </div>
{% endif %}

<div class="field-group my-5">
  {% render_field form.comments %}
</div>
{% endblock %}