{% extends 'generic/object.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{{ object.subject }}{% endblock %}

{% block extra_controls %}
  <!-- New button for special action -->
  {% if object.file %}
  <div class="dropdown">
          <button type="button" class="btn btn-blue dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mdi"></i> {% trans "Download" %}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="{% url 'plugins:netbox_certificate_management:download_file' object.pk %}">
                <i class="mdi"></i> PEM-Format
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'plugins:netbox_certificate_management:download_file' object.pk%}?convert_to_der=True">
                <i class="mdi"></i> DER-Format
              </a>
            </li>
          </ul>
      </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Information</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Subject</th>
              <td>{{ object.subject }}</td>
            </tr>
            <tr>
              <th scope="row">Default Action</th>
              <td>{{ object.get_default_action_display }}</td>
            </tr>
            <tr>
              <th scope="row">Rules</th>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
<div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Devices" %}</h5>
        <div class="card-body table-responsive">
          {% render_table related_devices %}
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Virtual Machines" %}</h5>
        <div class="card-body table-responsive">
          {% render_table related_vms %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}